.navbar-inner{
    
    background-color:#FFFFFF;
}
.icon_std{
   width: 25px;
   height: 25px;
}
.separator{
    border-left:2px solid #A8A8A8;
    height: 20px;
    margin: 0px 20px 0px 20px;
  
}

.top-side{
    font-size:17 ;
    font-weight: 700;
    float: left;
    display:block;
    
}
.menu{
    font-size:13px ;
   
    display:block;
 
}
.separator-lighter{
    border-left:2px solid #DBDBDB;
    height: 20px;
    margin-right: 10px;
  
   
}
.elmnt{
    border-left:2px solid #DBDBDB; 
    margin: 10px 0px 0px 0px;
    padding: 2px 10px 1px 8px;
    
}
.title{
    margin: 30px;
    font-size: 13;
}
#list{
    padding:80px 0;
}
.def{
    text-align: left;
    margin: 40px 0px 20px 0px;
    padding:10px
}
.title1{
    font-size: 17px;
    font-weight: 700;
    font-family: 'Calibri Bold',sans-serif;  
  
 
}
.row{
    margin-left: 10px;
}
.container-inner{
    margin:40px 40px 40px 45px;
}
.title2{
    font-weight: 700;
    font-family: 'Calibri Bold', sans-serif;  
}
.img{
    height: 25px;
    width: 25px;
}
#link{
    font-family: 'Calibri',sans-serif;  
    font-size: 15px;
}
.row-inner{
    margin-top: 30px;
}
.normal-text{
    font-family: 'Calibri',sans-serif;
    font-size: 13px;
}
.title3{
    font-family: 'Calibri Bold',sans-serif;
    font-size: 15px;
    font-weight: 700;
}
ul,li{
    list-style-type: none;
}
#elmnt{
    margin-top: 10px;
    margin-right: 40px;
}
.selected1{
    color: white;
    background-color: #1E5AC8;
    width: 230px;
    border-radius: 4px !important;
    padding: 5px;
    font-family: 'Calibri',sans-serif;
    font-size: 13px;
}
.selected2{
    color: white;
    background-color: #1E5AC8;
    width: 200px;
    border-radius: 4px !important;
    padding: 5px;
    font-family: 'Calibri',sans-serif;
    font-size: 13px;
}
#my-list{
    padding: 0px;
    margin: 0px;
}
.icon_list{
    width: 25px;
    height: 25px;
   
    margin-right: 15px;
    cursor: pointer;
}
.icon_list_selected{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 15px;
}
#elmnt.selected1 {
    margin-left:-5px ;
}
#elmnt.selected2{
    margin-left:-5px ;
}
.detail-icon{
    height: 80px;
    width: 80px;
}
.link-button{
    background-color: #DBDBDB;
    border:2px solid #A8A8A8;
    font-family: 'Calibri', sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 24px 8px 24px;
    border-radius: 2px;
    

}